<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meaning</title>
    <link rel="icon" type="image/ico" href="../images/favicon.ico">
    <!-- Custom styles -->
<!-- 
    <link rel="stylesheet" href="resets.css">
    <link rel="stylesheet" href="base.css"> -->
    <!-- <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/form.css">
    <link rel="stylesheet" href="styles/footer.css"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Google Fonts -->

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

</head>

<body>
    <header>
        <div class="logo">
            Travel
        </div>
        <div id="moveNavLinks" class="links_block">
            <ul class="nav_links">
                <li> <a target="_blank" href="">GitHub Repo</a></li>
                <li> <a target="_blank" href="">Udacity</a></li>
                <li> <a target="_blank" href="">About</a></li>
            </ul>
        </div>
        <div class="navBtn" onclick="Client.showNavLinks()">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </header>

    <main>
        <section>
            <form id="form" onsubmit="return handleSubmit(event)">
            </form>
            <section>
                <section>
                    <div id="results">
                        <div id="card">
                        </div>
                    </div>
                </section>
    </main>

    <footer>
        <p>#Abdulkhak Tursunov</p>
        <div class="footer_links">
            <a href=""><i class="fas fa-network-wired footer_icon "></i></a>
            <a href=""> <i class="fa fa-github footer_icon" aria-hidden="true"></i></a>
            <a href=""><span class="iconify footer_icon" data-icon="fontisto:udacity"></span></a>
            <a href=""> <i class="fab fa-telegram footer_icon"></i></a>
        </div>
        <h4> ©2021 Fergana UZB, Inc. All rights reserved.</h4>
    </footer>
    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
    <script src="https://use.fontawesome.com/d4803fea57.js"></script>
    <script src="https://code.iconify.design/2/2.1.0/iconify.min.js"></script>

</body>

</html>