@import 'colors';
form {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid $main-color;
    border-radius: 3px;
    padding: 40px;
    i{
        color: $main-color;
    }
    #name{
        border: $main-color solid 2px !important;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    #dateInput{
        border: $main-color solid 2px !important;
        margin: 10px;
        width: 200px;
        font-size: 1rem;
    }
}

input {
    padding: 5px 20px;
    width: 300px;
    line-height: 16px;
}
input[type='submit']{
    background:  #3014b1 !important;
    width: 150px;
}

